<div class='row'>
  <div class='forgot-password'>
    <div class='row'>
      <div class='col s12 l3 offset-l5 m6 offset-m3 center'>
        <h2 class='grey-text text-lighten-1'>Esqueceu sua senha?</h2>      
    </div>
  </div>
  <div class='row'>
    <div class='card z-depth-4 col s12 l3 offset-l5 m6 offset-m3'>
      <div class='card-content'>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="input-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="row">
            <button class='btn btn-large custom-blue form-button col m12 s12'>
              <i class='material-icons right'>send</i>Enviar
            </button>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>